<!DOCTYPE html>
<html lang="@Content.Current.LanguageCode">
<head>
	@if (false) {<title></title> } @*  Make the syntax checker happy  *@
	<link href='http://fonts.googleapis.com/css?family=Signika:400,600,300' rel='stylesheet' type='text/css'>
	@{ Html.Resources().JQuery(); }

	@*@{ Html.Resources().StyleSheet(N2.Resources.Register.TwitterBootstrapResponsiveCssPath); }
	@{ Html.Resources().JavaScript(N2.Resources.Register.TwitterBootstrapJsPath); }
	@{ Html.Resources().JavaScript("//cdnjs.cloudflare.com/ajax/libs/less.js/1.4.1/less.min.js"); }*@
	@{ Html.Resources().StyleSheet("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");}
	@{ Html.Resources().JavaScript("//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js");}
	@{ Html.Resources().JavaScript(Url.ThemedContent("~/Scripts/site.js")); }


	@{ Html.RenderPartial("LayoutPartials/Head"); }
	@{
		Content.PrependDefinition(re =>
		{
			re.Tab("Content", "Content");
			re.PublishedRange().Container("Metadata");
		});
	}

	@RenderSection("head", required: false)

	@{ var green = "#518D3F"; }
	<style type="text/css">
		html,body { padding: 0; margin: 0; background: #eee !important; }
		body,html,p {  font-family: Signika; color: #333; font-size: 14px; font-weight: 300; }
		h1,h2,h3,h4,h5 { font-family: Signika; font-weight: 400; color: @green; }
		h1 { font-size: 26px; }
		h2 { font-size: 20px; }
		h3 { font-size: 14px; }

		.mgleft  { padding-left:  1em; }
		.mgright { padding-right: 1em; }
		#main-container { padding: 0; }
		#logo {  z-index: 999999; }
		#toprow { background-color: @green;  color: white; padding-top: 1em; }
		#toprow>div { height: 3em; }
		@@media (max-width: 767px) { #logo { position: absolute; right: 1em; top: 0; } }
		@@media (min-width: 768px) { #logo { position: absolute; left: 2em; top: 0; } }
		#toprow * { line-height: 50px !important; }
		#toprow h1 { font-size: 25px !important; color: #fff; font-weight: 400 !important; }
		#toprow a:link, #toprow a:visited { color: #fff; } 
		#topnav {  }
		#topnav a:link, #topnav a:visited { font-size: 22px; font-weight: 400; }
		.footer { font-size: 14px; color: #666; } 
		.print { display: none; }

		.nav > li.disabled.nav-header > a {
			cursor: default;
			font-size: 12px;
			font-weight: bold;
			text-transform: uppercase;
		}

		
		#highlights ul { list-style-type: square; padding: 0 0 0 1.5em; color: #666; }
		#highlights ul li { margin: 0.5em 0;  }

		.contact { margin-bottom: 1em; }
		.contact td {  padding: 0; margin: 0; }
		.contact td:first-child { font-weight: bold }

		.rating-table { width: 100%; }
		.rating { width: 80px; }
		.star { background: url(/N2/Resources/Icons/star.png); height: 16px; overflow: hidden; }
		.x { width: 16px; }
		.xx { width: 32px; }
		.xxx { width: 48px; }
		.xxxx { width: 64px; }
		.xxxxx { width: 80px; }

	</style>
	<style type="text/css" media="print">
		body, html { font-size: 90%; }
		h1 { font-size: 20pt; }
		.noprint { display: none; }
		.print { display: block !important; }
	</style>
	<script type="text/javascript">
		$(document).ready(function () { $("#grn").height($("#toprow").height()); });
	</script>
</head>
<body>
	<div class="noprint">
		@{ Html.ControlPanel().Render(); }
	</div>
	<div class="container" id="main-container" style="overflow: hidden;">

		<div id="grn" class="noprint" style="position: absolute; left: 0; top: 0; width: 100%; background-color: @green; height: 5em; z-index: -1000; padding-top: 1em;"></div>

		<!-- Header row -->
		<div class="row noprint" id="toprow">
			<div class="col-sm-1" style="position: relative;">
				<img src="@Url.ThemedContent("~/content/kokopelli.png")" id="logo" />
			</div>
			<div class="col-md-2 col-sm-3" id="toph1">
				<div class="mgleft">
					<h1 style="margin-top: 0;"><a href="/">Ben&nbsp;Herila</a></h1>
				</div>
			</div>
			<div class="col-md-9 col-sm-8" id="topnav">
				@foreach (var x in Content.Traverse.StartPage.Children.Where(f => f is Dinamico.Models.ContentPage))
				{
					<span>[ <a href="@x.Url">@(x.Title)</a> ] </span>
				}
			</div>
		</div>

		<!-- Body background stretch -->
		<div class="row noprint">
			<div class="col-sm-1 hidden-phone">&nbsp;</div>
			<div class="col-sm-11 col-xs-12" style="background: #fff; margin-bottom: -99999px; padding-bottom: 99999px;">&nbsp;</div>
		</div>

		<!-- Print header -->
		<div class="row print">
			<div class="col-xs-12"><h1 style="margin: 0; padding: 0;">Benjamin W. Herila</h1></div>
			<div style="position: absolute; right: 0; top: 0;"><img src="@Url.ThemedContent("~/img/kokopelli.png")" /></div>
		</div>


		<!-- Page area -->
		@if (IsSectionDefined("main"))
		{
			@RenderSection("main")
		}
		else
		{
			<!-- Body area -->
			<div class="row" style="overflow: hidden;">
				<div class="noprint col-sm-1">&nbsp;</div>
				<div class="noprint col-sm-2">
					@{
						var p = new N2.Web.MenuPart() {			
							MenuTitleDisplayMode = N2.Web.MenuPartBase.TitleDisplayOptions.None,
							MenuStartFromLevel = 2,
							MenuShowSibilings = N2.Web.MenuPartBase.SibilingDisplayOptions.Always,
							MenuDontLinkTopLevel = false,
							MenuFlattenTopLevel = true
						};		
					}
					@Html.Raw(new N2.Web.MenuPartRenderer(p).GetHtml())								
					@{ Html.DroppableZone("BelowNavigation").Render(); }
				</div>
				<div class="col-sm-9">
					<div class="mgright">
						@RenderBody()
					</div>
				</div>
			</div>
		}
			<!-- Footer -->
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-11">
					<div class="mgright footer">
						@{ Html.RenderPartial("LayoutPartials/Footer"); }
					</div>
				</div>
			</div>
		
	</div>

	@*	
	@{ Html.RenderPartial("LayoutPartials/Navbar"); }
	<div class="container">

	</div>*@

</body>
</html>
