<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="@Content.Current.LanguageCode" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="@Content.Current.LanguageCode" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="@Content.Current.LanguageCode" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="@Content.Current.LanguageCode" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="@Content.Current.LanguageCode" class="no-js">
<!--<![endif]-->
<link href='http://fonts.googleapis.com/css?family=Signika:400,600,300' rel='stylesheet' type='text/css'>

@{ Html.RenderPartial("LayoutPartials/Head"); }
@{ Html.Resources().JQuery(); }
@{ Html.Resources().StyleSheet(N2.Resources.Register.TwitterBootstrapResponsiveCssPath); }
@{ Html.Resources().StyleSheet(N2.Resources.Register.TwitterBootstrapCssPath); }
@{ Html.Resources().JavaScript(N2.Resources.Register.TwitterBootstrapJsPath); }
@{ Html.Resources().JavaScript(Url.ThemedContent("~/Scripts/site.js")); }
@{
	Content.PrependDefinition(re =>
	{
			re.Tab("Content", "Content");
			re.PublishedRange().Container("Metadata");
		});
}
@RenderSection("head", required: false)
@{ var green = "#518D3F"; }
<style type="text/css">

		body { padding: 0; margin: 0; background: #eee; }
		body,html,p {  font-family: Signika; color: #333; font-size: 14px; font-weight: 300; }
		h1,h2,h3,h4,h5 { font-family: Signika; font-weight: 400; color: @green; }
		h1 { font-size: 26px; }
		h2 { font-size: 20px; }
		h3 { font-size: 14px; }

		.mgleft  { padding-left:  1em; }
		.mgright { padding-right: 1em; }
		.flblock { display: inline-block; float: left; }
		.footer { font-size: 14px; color: #666; } 

		#main-container { padding: 0; }
		.toprow { background-color: @green; color: white; padding-top: 1em; }
		.toprow .fake { position: absolute; width: 100%; left: 0; float: left;}
		.toprow>div { height: 3em; }
		.toprow * { line-height: 50px !important; }
		.toprow h1 { font-size: 30px !important; color: #fff; font-weight: 400 !important; }
		.toprow a:link, .toprow a:visited { color: #fff; } 
		#topnav a:link, .topnav a:visited { font-size: 22px; font-weight: 400; }
		@@media (max-width: 767px) { #logo { position: absolute; right: 1em; top: 0; } }
		@@media (min-width: 768px) { #logo { position: absolute; left: 2em; top: 0; } }

	</style>
</head>
<body>

	<div class="fake toprow"><div></div></div>

	@{ Html.ControlPanel().Render(); }
	<div class="container" id="main-container" style="overflow: hidden;">

		<!-- Header row -->
		<div class="row toprow">
			<div class="span1" style="position: relative;">
				<img src="@Url.ThemedContent("~/img/kokopelli.png")" id="logo" />
			</div>
			<div class="span11" id="toph1">
				<div class="mgleft flblock">
					<h1><a href="/">Ben&nbsp;Herila</a></h1>
				</div>
				<div class="mgleft flblock" id="topnav">
					@foreach (var x in Content.Traverse.StartPage.Children.Where(f => f is Dinamico.Models.ContentPage)) {
					<span>[ <a href="@x.Url">@(x.Title)</a> ] </span>
					}
				</div>
			</div>
		</div>

		<div class="container">

		<!-- Body background stretch -->
		<div class="row">
			<div class="span1 hidden-phone"></div>
			<div class="span10" style="background: #fff; margin-bottom: -99999px; padding-bottom: 99999px;"></div>
		</div>

		<!-- Page area -->
		@if (IsSectionDefined("page"))
	{
			@RenderSection("page", false);
			@RenderBody();
		}
	else
	{
			<!-- Body area -->
			<div class="row" style="overflow: hidden; position: relative;">
				<div class="span1 hidden-phone"></div>
				<div class="span2">
					<div class="mgleft">
						@Html.Raw(
new N2.Web.MenuPartRenderer(
	new N2.Web.MenuPart()
		{
			Parent = Content.Current.Page,
			TitleDisplayMode = N2.Web.MenuPartBase.TitleDisplayOptions.None,
			FlattenTopLevel = true,
			NumChildLevels = 2,
			StartFromLevel = 2,
			ShowSibilings = N2.Web.MenuPartBase.SibilingDisplayOptions.Never
		}
	).GetHtml())
					</div>
					@{ Html.DroppableZone("BelowNavigation").Render(); }
				</div>
				<div class="span8">
					<div class="mgright">
						@RenderSection("main", required: false)
						@RenderBody()
					</div>
				</div>
			</div>
		
			<!-- Footer -->
			<div class="row">
				<div class="span1 hidden-phone"></div>
				<div class="span2">&nbsp;</div>
				<div class="span8">
					<div class="mgright footer">@{ Html.RenderPartial("LayoutPartials/Footer"); }</div>
				</div>
			</div>
		}
			</div>
	</div>
</body>
</html>
