@model Dinamico.Models.ContentPart
		   
@{ 
 
    Content.Define(ie => {
        ie.Title = "Image and Text";
        ie.IconUrl = "{IconsUrl}/text_padding_left.png";
        ie.Text("Title", "Heading text").SortOrder(100);
        ie.Image("Image").SortOrder(200);
        ie.FreeText("Description").SortOrder(300);
        ie.CheckBox("ImageFirst", "Image first").DefaultValue(true).SortOrder(400);
        ie.CheckBox("HiddenPhone", "Hide image in mobile view (requires responsive CSS)").DefaultValue(false).SortOrder(500);
		ie.FreeText("TextAfterImage").SortOrder(350);
	});

    var imgCssClass = "";
    if (Content.Has.HiddenPhone && Content.Data.HiddenPhone == true) { imgCssClass += " hidden-phone"; }

}

@if (Content.Has.Title && !String.IsNullOrWhiteSpace(Content.Data.Title))
{
	<h3>@Content.Data.Title</h3>
}

@if (Content.Has.ImageFirst && Content.Data.ImageFirst)
{
	<div class="imageAndText">
		<div class="row">
			<div class="col-sm-4"><hr /><img class="@imgCssClass" alt="@Content.Data.Title" src="@Content.Data.Image" />@Content.Data.TextAfterImage</div>
			<div class="col-sm-8">@Content.Display.Description</div>
		</div>
	</div>
}
else
{
	<div class="imageAndText">
		<div class="row">
			<div class="col-sm-8">@Content.Display.Description</div>
			<div class="col-sm-4"><hr /><img class="@imgCssClass" alt="@Content.Data.Title" src="@Content.Data.Image" />@Content.Data.TextAfterImage</div>
		</div>
	</div>
}